<a href="https://colab.research.google.com/github/calebcaptain1/Twitter-Reviews-Naive-Bayes/blob/main/Assignment4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [40]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.datasets import make_blobs
import os
import tensorflow.compat.v2 as tf
import tensorflow_datasets as tfds
##import tldextract
from tensorflow.keras import datasets, layers, models
from tensorflow.keras.utils import plot_model, to_categorical
from tensorflow.keras.preprocessing.image import load_img, img_to_array
from tensorflow.keras import callbacks
from tensorflow.keras.callbacks import TensorBoard, ModelCheckpoint
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
import keras

In [ ]:
https://github.com/calebcaptain1/Twitter-Reviews-Naive-Bayes/raw/main/Tweets.csv

https://github.com/calebcaptain1/Twitter-Reviews-Naive-Bayes/blob/main/Tweets.csv

https://github.com/calebcaptain1/Twitter-Reviews-Naive-Bayes/blob/main/Tweets.csv

In [ ]:
data = pd.read_html('https://github.com/calebcaptain1/Twitter-Reviews-Naive-Bayes/blob/main/Tweets.csv')[0]

In [48]:
dataset_url = 'https://github.com/calebcaptain1/Twitter-Reviews-Naive-Bayes/archive/main.zip'
  
datapath = tf.keras.utils.get_file('Twitter-Reviews-Naive-Bayes-main.zip',
                                      cache_subdir=os.path.abspath('.'),
                                      origin = dataset_url,
                                      extract = True)

data = os.path.abspath('Twitter-Reviews-Naive-Bayes-main')
tweets = '/Tweets.csv'

In [49]:
data
path = data + tweets
print(tdata)
tweetdata = pd.read_csv(path)

/content/Twitter-Reviews-Naive-Bayes-main/Twitter.csv

In [50]:
tweetdata.head()

             tweet_id  ...               user_timezone
0  570306133677760513  ...  Eastern Time (US & Canada)
1  570301130888122368  ...  Pacific Time (US & Canada)
2  570301083672813571  ...  Central Time (US & Canada)
3  570301031407624196  ...  Pacific Time (US & Canada)
4  570300817074462722  ...  Pacific Time (US & Canada)

[5 rows x 15 columns]

In [51]:
tweetdata.columns

Index(['tweet_id', 'airline_sentiment', 'airline_sentiment_confidence',
       'negativereason', 'negativereason_confidence', 'airline',
       'airline_sentiment_gold', 'name', 'negativereason_gold',
       'retweet_count', 'text', 'tweet_coord', 'tweet_created',
       'tweet_location', 'user_timezone'],
      dtype='object')

In [93]:
data = tweetdata[['airline_sentiment', 'airline', 'text']]

In [53]:
data.head()

  airline_sentiment  ...                                               text
0           neutral  ...                @VirginAmerica What @dhepburn said.
1          positive  ...  @VirginAmerica plus you've added commercials t...
2           neutral  ...  @VirginAmerica I didn't today... Must mean I n...
3          negative  ...  @VirginAmerica it's really aggressive to blast...
4          negative  ...  @VirginAmerica and it's a really big bad thing...

[5 rows x 3 columns]

In [94]:
data['text'] = data['text'].str.lower()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [95]:
data['text']

0                      @virginamerica what @dhepburn said.
1        @virginamerica plus you've added commercials t...
2        @virginamerica i didn't today... must mean i n...
3        @virginamerica it's really aggressive to blast...
4        @virginamerica and it's a really big bad thing...
                               ...
14635    @americanair thank you we got on a different f...
14636    @americanair leaving over 20 minutes late flig...
14637    @americanair please bring american airlines to...
14638    @americanair you have my money, you change my ...
14639    @americanair we have 8 ppl so we need 2 know h...
Name: text, Length: 14640, dtype: object

In [96]:
from sklearn.feature_extraction.text import CountVectorizer

# This converts the list of words into space-separated strings
#data['text'] = data['text'].apply(lambda x: ' '.join(x))

count_vect = CountVectorizer()  
counts = count_vect.fit_transform(data['text'])

from sklearn.feature_extraction.text import TfidfTransformer

transformer = TfidfTransformer().fit(counts)

counts = transformer.transform(counts)

  (0, 14551)	0.3070515409357152
  (0, 14273)	0.3419070504891463
  (0, 11646)	0.4262824615746514
  (0, 4804)	0.7791676218816277
  (1, 14944)	0.1265952979400522
  (1, 14273)	0.2313977858267734
  (1, 14193)	0.23693067958015132
  (1, 13326)	0.09799618759191321
  (1, 13120)	0.11276350363919721
  (1, 12925)	0.5273294663955598
  (1, 10438)	0.34702935753417447
  (1, 5665)	0.28226052945728347
  (1, 4030)	0.46058973426610644
  (1, 1965)	0.4020622300983406
  (2, 14273)	0.26992648771150146
  (2, 13509)	0.32680873486627793
  (2, 13330)	0.28298749343697555
  (2, 13326)	0.11431296384834295
  (2, 12941)	0.3116933381606744
  (2, 9375)	0.26779966639472813
  (2, 9234)	0.4338089823740197
  (2, 8837)	0.4069543231145616
  (2, 4821)	0.32832823304910924
  (2, 2331)	0.31099113430974945
  (3, 14953)	0.11977940873458696
  :	:
  (14638, 2355)	0.1973400600414528
  (14638, 2336)	0.2583604057649693
  (14638, 2281)	0.10830524552824745
  (14638, 2237)	0.11353685266780673
  (14639, 14467)	0.28008547982062537
  (14639, 14049)	0.16250031651058705
  (14639, 13120)	0.16637248651318765
  (14639, 12512)	0.26096883535981463
  (14639, 12287)	0.15061246891279517
  (14639, 11832)	0.20902311892484765
  (14639, 10817)	0.22121237466272606
  (14639, 10533)	0.28129729496831873
  (14639, 10439)	0.2867266776811011
  (14639, 10222)	0.19452485498770158
  (14639, 9815)	0.2895249048136156
  (14639, 9447)	0.4043902585826353
  (14639, 9375)	0.1693583748122548
  (14639, 8721)	0.23335169324189117
  (14639, 8076)	0.18547744975317002
  (14639, 7164)	0.16225430294593873
  (14639, 6868)	0.12729994630876434
  (14639, 6157)	0.09441312096815192
  (14639, 6004)	0.1937101466255506
  (14639, 2450)	0.14338639079861448
  (14639, 2237)	0.10222086638333264

In [97]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

le.fit(data['airline_sentiment'])

LabelEncoder()

In [90]:
le.classes_

array(['negative', 'neutral', 'positive'], dtype=object)

In [98]:
le.transform(data['airline_sentiment'])

array([1, 2, 1, ..., 1, 0, 1])

In [104]:
data['airline_sentiment'] = le.transform(data['airline_sentiment'])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [125]:
data['airline_sentiment']

(14640,)

In [106]:
from sklearn.model_selection import train_test_split

In [128]:
x_train, x_test, y_train, y_test = train_test_split(counts, data['airline_sentiment'], test_size = .1)

In [129]:
from sklearn.naive_bayes import MultinomialNB

In [130]:
x_train.shape

(13176, 15051)

In [131]:
y_train.shape

(13176,)

In [132]:
model = MultinomialNB()

In [133]:
model.fit(x_train, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [136]:
pred = model.predict(x_test)

In [134]:
model.score(x_test, y_test)

0.6789617486338798

In [137]:
from sklearn.metrics import confusion_matrix

In [138]:
confusion_matrix(y_test, pred)

array([[920,   3,   0],
       [261,  43,   4],
       [195,   7,  31]])

In [139]:
np.mean(y_test == pred)

0.6789617486338798

Sooooo, looks like it has a mean accuracy score of about 67 ~ 68%! Not too bad, however, I wonder if I can change it by messing with the test sizes.

In [141]:
x_train, x_test, y_train, y_test = train_test_split(counts, data['airline_sentiment'], test_size = .2)

In [142]:
secondmod = MultinomialNB()

In [143]:
secondmod.fit(x_train, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [144]:
secondmod.score(x_test, y_test)

0.664275956284153

Biggest of oofs. It actually went down.

In [200]:
test_sizes = [.05, .1, .15, .2]
table = {}

for size in test_sizes:
  x_train, x_test, y_train, y_test = train_test_split(counts, data['airline_sentiment'], test_size = size, random_state = 20)
  model = MultinomialNB()
  model.fit(x_train, y_train)
  mean_score = model.score(x_test, y_test)
  table[size] = mean_score

I figured out that the sweet spot of really good values is in between .055 and .1 test sizes.

In [201]:
table

{0.05: 0.6926229508196722,
 0.1: 0.6830601092896175,
 0.15: 0.6785063752276868,
 0.2: 0.6687158469945356}

Close to a 70% accuracy, however, I'm more comfortable with the 20%, as I'm sure it's not overfitting the data.

In [206]:
data['airline'].unique()

array(['Virgin America', 'United', 'Southwest', 'Delta', 'US Airways',
       'American'], dtype=object)

In [229]:
Airlines = ['Virgin America', 'United', 'Southwest', 'Delta', 'US Airways',
       'American']

data['airline'].value_counts(normalize=True)

data.groupby('airline').mean()[['airline_sentiment']] * 100

                airline_sentiment
airline
American                41.138094
Delta                   81.503150
Southwest               74.545455
US Airways              31.548232
United                  43.982208
Virgin America          94.246032